<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container text-center">

<h1>About</h1>
<h2>Hello, everyone!</h2>
<p><h3>Glad to see that you've found some time to visit my first page made with the help of Django framework.</h3>
  <h3>
  <br>
  <br>
  With the help of this page you are able to generate password with the length from 6 to 12 symbols.
  <br>
  Your password can include big letters, as well as numbers and special symbols.
  <br>
  It's all optional and depends on your
  choices.
  <br>
  Hope my first page will be helpful for you!
  <br>
  <br>
  <a href="{% url 'home' %}" class="btn btn-primary"><h5>Let's generate cool password for you!</h5></a>
</h3>
</div>